.details {
    /* display: none; */
    position: absolute;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: 1px solid transparent;
    border-radius: 10px;
    width: 300px;
    line-height: 38px;
    background-color: aqua;
    z-index: 100;
}
table{
    border: 1px solid !important;
    border-collapse: collapse;
    width: 100%;
    text-align: center;
}
th{
    align-items: center;
    border: 1px solid !important;
    padding:10px
}
td {
    border: 1px solid !important;
    border-collapse: collapse;
    text-align: center;
    font-weight: 500;
}
.pad{
    margin: 5px 0px;
    margin-right:5px;
    font-size: 9px;
}
.close{
    position: absolute;
    left: 88%;
    top: 0%;
    z-index: 9;
}
input{
    width: 100%;
    margin-top: 40px;
}
input:focus{
    outline-color: aqua;
    box-shadow: 4px 4px 10px black;
}
.place{
    position: absolute;
    left:10%;
    top: 125px;
    opacity: 0.8;
    font-size: 14px; 
    pointer-events: none;
    transition: 0.2s ease;
}
.place1{
    position: absolute;
    left:10%;
    top: 200px;
    opacity: 0.8;
    font-size: 14px; 
    pointer-events: none;
    transition: 0.2s ease;
}
.place2{
    position: absolute;
    left:10%;
    top: 275px;
    opacity: 0.8;
    font-size: 14px; 
    pointer-events: none;
    transition: 0.2s ease;
}
input:focus + .place,
input:valid + .place,

input:focus + .place2,
input:valid + .place2,

input:focus + .place1,
input:valid + .place1{

    transform: translate(2px,-20px);
    /* background-color: white; */
    z-index: 111;
    font-weight: 700;
    font-size: 18px;
}